<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>
        <!--selection-->
        <div>
          <div class="form-check form-check-inline" *ngIf="!showCoordinate">
            <input
              (click)="radioButtonResult($event)"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptionsSelection"
              id="inlineRadio2"
              value="city"
            />
            <label class="form-check-label" for="inlineRadio2">City</label>
          </div>
          <div class="form-check form-check-inline" *ngIf="!showCity">
            <input
              (click)="radioButtonResult($event)"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptionsSelection"
              id="inlineRadio2"
              value="coordinate"
            />
            <label class="form-check-label" for="inlineRadio2"
              >Coordinates</label
            >
          </div>
        </div>
      </div>
      <!---->
      <div class="input-group rounded mb-3">
        <input
          *ngIf="!showCoordinate"
          type="search"
          class="form-control rounded"
          placeholder="City"
          aria-label="Search"
          aria-describedby="search-addon"
          value="city"
          (change)="findCity($event)"
        />
        <input
          *ngIf="!showCity"
          type="search"
          class="form-control rounded"
          placeholder="Latitude"
          aria-label="Search"
          aria-describedby="search-addon"
          value="lattitude"
          (change)="findAltitude($event)"
        />
        <input
          *ngIf="!showCity"
          type="search"
          class="form-control rounded"
          placeholder="Longitude"
          aria-label="Search"
          aria-describedby="search-addon"
          value="longitude"
          (change)="findLongtitude($event)"
        />
        <a href="#!" type="button" (click)="submitResult()">
          <span class="input-group-text border-0 fw-bold" id="search-addon">
            Check!
          </span>
        </a>
        <a href="#!" type="button" (click)="clearInput()">
          <span class="input-group-text border-0 fw-bold" id="search-addon">
            Clear
          </span>
        </a>
        <a href="#!" type="button">
          <span class="input-group-text border-0 fw-bold" id="search-addon">
            Reset
          </span>
        </a>
      </div>

      <div class="mb-4 pb-2">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
            checked
          />
          <label class="form-check-label" for="inlineRadio1">Celsius</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">Farenheit</label>
        </div>
      </div>

      <div class="card shadow-0 border">
        <div class="card-body p-4">
          <h4 class="mb-1 sfw-normal">New York, US</h4>

          <div>
            <p class="mb-2">Current temperature: <strong>{{currentWeather|json}}</strong></p>

          </div>
          <p class="mb-2">Current temperature: <strong></strong></p>
          <p>Feels like: <strong></strong></p>
          <p>Max: <strong></strong>, Min: <strong></strong></p>

          <div class="d-flex flex-row align-items-center">
            <p class="mb-0 me-4"></p>
            <i class="fas fa-cloud fa-3x" style="color: #eee"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
