<link rel="stylesheet" href="./oneday-weather.component.css" />
<div class="container">
  <div class="card-body p-4" *ngIf="currentWeather">
    <h4 class="mb-1 sfw-normal"></h4>
    <div>
      <p class="mb-2">
        Location:<Strong>{{ currentWeather.location.name }}</Strong>
        Last updated:
        <strong>{{ currentWeather.current.last_updated }}</strong>
      </p>
      <p class="mb-2">
        Current temperature:
        <strong>{{ currentWeather.current.temp_c }}</strong>
      </p>
    </div>
    <p class="mb-2">
      Description
      <strong>{{ currentWeather.current.condition.text }}</strong>
    </p>
    <p class="mb-2">Feels like:<strong></strong></p>
    <p>
      Max: <strong>{{ currentWeather.current.condition.text }}</strong
      >, Min: <strong></strong>
    </p>
    <img src="http://{{ currentWeather.current.condition.icon }}" />
    <div class="d-flex flex-row align-items-center">
      <p class="mb-0 me-4"></p>
      <i class="fas fa-cloud fa-3x" style="color: #eee"></i>
    </div>
  </div>

  <div class="card-body p-4" *ngIf="current3Weather">
    <h4 class="mb-1 sfw-normal"></h4>
    <br />
    <!--div>{{ current3Weather.forecast.forecastday[2].date | json }}</div-->
    <div *ngFor="let i of current3Weather.forecast.forecastday">
      <div>
        <p class="mb-2">
          Location:<Strong>{{ i.date }}</Strong>
          Max temp:
          <strong>{{ i.day.maxtemp_c }}C</strong>
          MIn temp:
          <strong>{{ i.day.mintemp_c }}C</strong>
        </p>
        <p class="mb-2">
          Current temperature:
          <strong>{{ i.day.avgtemp_c }}</strong>
        </p>
      </div>
      <p class="mb-2">
        Description
        <strong>{{ i.day.condition.text }}</strong>
        <img src="http://{{ i.day.condition.icon }}" />
      </p>

      <div class="d-flex flex-row align-items-center">
        <p class="mb-0 me-4"></p>
        <i class="fas fa-cloud fa-3x" style="color: #eee"></i>
      </div>
    </div>
  </div>

</div>
