<div class="container">
  <div class="card-body p-4" *ngIf="weeklyWeather">
    <h4 class="mb-1 sfw-normal"></h4>
    <br />
    <div class="c" *ngFor="let i of weeklyWeather.forecast.forecastday">
      <div>
        <p class="mb-2">
          Location:<Strong>{{ i.date }}</Strong>
          Max temp:
          <strong>{{ i.day.maxtemp_c }}C</strong>
          MIn temp:
          <strong>{{ i.day.mintemp_c }}C</strong>
        </p>
        <p class="mb-2">
          Current temperature:
          <strong>{{ i.day.avgtemp_c }}</strong>
        </p>
      </div>
      <p class="mb-2">
        Description
        <strong>{{ i.day.condition.text }}</strong>
        <img src="http://{{ i.day.condition.icon }}" />
      </p>

      <div class="d-flex flex-row align-items-center">
        <p class="mb-0 me-4"></p>
        <i class="fas fa-cloud fa-3x" style="color: #eee"></i>
      </div>
    </div>
  </div>
</div>
